@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

.item-list {
  width: 80%;
  margin-top: 3rem;
  align-items: center;
}


/* List Items styles */
.card {
  max-height: 220px;
}

h5, p {
  margin-bottom: .8rem;
}

.item-price {
  float: right;
  font-weight: bold;
  color: #00cc66;
}

.description{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.date {
  font-size: .9rem;
  color: grey;
}

.list-item-img {
  width: 140px;
  height: 140px;
  border: 1px solid#dcdee0;
}

.no-image {
  width: 140px;
  height: 140px;
  border: 1px solid #dcdee0;
  border-radius: 5px;
}

.no-image i {
  color: #dcdee0;  
  margin-top: 2rem;
}

@media screen and (min-width: 300px) and (max-width: 360px){
  .card {
    padding: .5rem;
  }
  .card-body {
    padding: .3rem;
  }
  h5, .description, .date {
    font-size: .9rem;
  }
  .item-list {
    width: 100%;
  }
  .col-lg-2 {
    width: 90px;
  }
  .col-lg-10 {
    width: 220px;
    padding-left: .2rem;
    padding-right: .2rem;
  }
  .list-item-img, .no-image {
    width: 60px;
    height: 60px;
  }
  .no-image i {
    font-size: 2rem;
    margin-top: .9rem;
  }
}

@media screen and (min-width: 361px) and (max-width: 375px){
  .card-body {
    padding: .5rem;
  }
  h5, .description, .date {
    font-size: .9rem;
  }
  .item-list {
    width: 100%;
  }
  .col-lg-2 {
    width: 70px;
    padding: 0;
  }
  .col-lg-10 {
    width: 240px;
    padding-left: .2rem;
    padding-right: .2rem;
  }
  .list-item-img, .no-image {
    width: 65px;
    height: 65px;
  }
  .no-image i {
    font-size: 2.5rem;
    margin-top: .7rem;
  }
  
}

@media screen and (min-width: 376px) and (max-width: 650px){
  .card {
    padding: .5rem;
  }
  .card-body {
    padding: .3rem;
  }
  h5, .description, .date {
    font-size: .9rem;
  }
  .item-list {
    width: 100%;
  }
  .col-lg-2 {
    width: 100px;
  }
  .col-lg-10 {
    width: 260px;
    padding-left: .2rem;
    padding-right: .2rem;
  }
  .list-item-img, .no-image {
    width: 75px;
    height: 75px;
  }
  .no-image i {
    font-size: 3rem;
    margin-top: .8rem;
  }
  
}

@media screen and (min-width: 651px) and (max-width: 900px){
  .item-list {
    width: 100%;
  }
  .col-lg-2 {
    width: 100px;
    padding: 0;
  }
  .col-lg-10 {
    width: 300px;
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .list-item-img, .no-image {
    width: 90px;
    height: 90px;
  }
  .no-image i {
    font-size: 3.5rem;
    margin-top: .8rem;
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px){
  .item-list {
    width: 100%;
  }
  .col-lg-2 {
    width: 150px;
  }
  .col-lg-10 {
    width: 450px;
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .list-item-img, .no-image {
    width: 100px;
    height: 100px;
  }
  .no-image i {
    font-size: 4rem;
    margin-top: 1.1rem;
  }
}

